<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
 <link rel="shortcut icon" type="image/x-icon" href="favicon.png?">
 
 <!-- Primary Meta Tags -->
<title>JJ1BBY blog</title>
<meta name="title" content="JJ1BBY blog - a Ham Contestger's blog">
<meta name="description" content="アマチュア無線コンテスターのブログ">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://jj1bby.github.io/">
<meta property="og:title" content="JJ1BBY blog">
<meta property="og:description" content="JJ1BBY blog - a Ham Contestger's blog">
<meta property="og:image" content="https://jj1bby.github.io/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="https://jj1bby.github.io/logo.png">
<meta property="twitter:url" content="ttps://jj1bby.github.io/">
<meta property="twitter:title" content="JJ1BBY blog">
<meta property="twitter:description" content="JJ1BBY blog - a Ham Contestger's blog">
<meta property="twitter:image" content="https://jj1bby.github.io/logo.png">
 
</head>
