<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
 <link rel="shortcut icon" type="image/x-icon" href="favicon.png?">
 
     {% seo %}
 
 <!-- HTML Meta Tags -->
<title>JJ1BBY blog</title>
<meta name="description" content="a Ham contester’s blog">
<meta property="og:image" content="https://jj1bby.github.io/logo.png" />
 
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jj1bby.github.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="JJ1BBY blog">
<meta property="og:description" content="a Ham contester’s blog">
<meta property="og:image" content="https://jj1bby.github.io/logo.png" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary">
<meta property="twitter:domain" content="jj1bby.github.io">
<meta property="twitter:url" content="https://jj1bby.github.io/">
<meta name="twitter:title" content="JJ1BBY blog">
<meta name="twitter:description" content="a Ham contester’s blog">
 <meta name="twitter:site" content="@JJ1BBY">
<meta name="twitter:image" content="https://jj1bby.github.io/logo.png" />
 

 
</head>
