<head>
 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
 <link rel="shortcut icon" type="image/x-icon" href="favicon.png?">
 
 <!-- HTML Meta Tags -->
<title>JJ1BBY blog</title>
<meta name="description" content="a Ham contester’s blog">
<meta property="og:image" content="https://user-images.githubusercontent.com/79028771/107865569-1c686a00-6eab-11eb-99dd-20d138c7b092.jpg" />
 
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://jj1bby.github.io/">
<meta property="og:type" content="website">
<meta property="og:title" content="JJ1BBY blog">
<meta property="og:description" content="a Ham contester’s blog">
<meta property="og:image" content="https://user-images.githubusercontent.com/79028771/107865569-1c686a00-6eab-11eb-99dd-20d138c7b092.jpg" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jj1bby.github.io">
<meta property="twitter:url" content="https://jj1bby.github.io/">
<meta name="twitter:title" content="JJ1BBY blog">
<meta name="twitter:description" content="a Ham contester’s blog">
<meta name="twitter:image" content="https://user-images.githubusercontent.com/79028771/107865569-1c686a00-6eab-11eb-99dd-20d138c7b092.jpg" />
 

 
</head>
